@import url('https://fonts.googleapis.com/css2?family=Open+Sauce+One&display=swap');

*{
    font-family: 'Open Sauce One', sans-serif;
}

:root{
    --background-color: #203141;
    --text-color: #ffbc0c;
    --background-color-deap: #142231;
}






body {
    background-color: var(--background-color);
    margin: 0;
    padding-bottom: 60px;
    
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-deap);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid;
    border-top-color: rgb(40, 216, 247);
}

.nav-item {
    text-align: center;
    /* color: rgb(231, 23, 23); */
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3px;
    /* background-color: pink; */
    min-width: 150px;
    border-radius: 10px;
    color: white;
}
.nav-item:hover{
    .bottom-names{
        color: rgb(40, 216, 247);
        transition: 0.3s ease-in-out;
    }
}

.nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

.nav-item.active {
    color: #ffffff;
    font-weight: bold;
}

.nav-item:hover {
    color: #bbb;
}
.bottom-logos{
    width: 40px;
}
.bottom-names{
    font-size: 15px;
    /* color: red; */
    font-weight: 600;
}

@media (max-width:700px) {
    .bottom-logos{
        width: 20px;
    }
    .bottom-names{
        font-size: 10px;
        font-weight: 600;
    }
    .nav-item{
        min-width: fit-content;
    }
}




/* Home main container */
.homePageMainContainer{
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeName{
    font-size: 40px;
    color: var(--text-color);
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
}
.subHomeName{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top: -40px;
}



/* about main */
.aboutMain{
    width: 100%;
    text-align: center;
    background-color: var(--background-color-deap);
    /* padding-top: 20px; */
}
.aboutName{
    font-size: 18px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    /* border-width: 20px; */
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutUs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.aboutContent{
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 30px;
}





/* Contact items */
.contact-Container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* margin-left: 30px; */
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffbc0c;
    text-decoration: none;
    font-weight: 700;
    column-gap: 5px;
}
.contactImages{
    width: 40px;
}
.contactNames{
    display: none;
}
.followUstxt{
    text-align: start;
    margin-top: 40px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 3px;
}


/* Footer sesction */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 20px;
    line-height: 0px;
    font-weight: 700;
    margin-top: 20px;
}










@media (max-width: 700px) {
    .homeName{
        font-size: 20px;
    }
    .subHomeName{
        margin-top: -10px;
        font-size: 10px;
    }
    .contact-Container{
        column-gap: 10px;
        align-items: flex-start;
    }
    .contactImages{
        width: 30px;
        
    }
    .contactNames{
        display: none;
    }


    /* about container */
    .aboutMain{
        width: 100%;
        padding-bottom: 20px;
    }
    .aboutUs{
        display: flex;
        flex-direction: column;
    }
    .aboutImage{
        width: 30%;
    }
    .aboutContentContainer{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .aboutContent{
        font-size: 10px;
        line-height: 15px;
        width: 80%;
    }
    .followUstxt{
        font-size: 15px;
    }

    footer{
        font-size: 15px;
        margin-top: 20px;
    }
}

